/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme */
    --book-primary: #4F46E5;
    --book-primary-light: #6366F1;
    --book-primary-dark: #4338CA;
    --book-secondary: #10B981;
    --book-secondary-light: #34D399;
    --book-secondary-dark: #059669;
    --book-light: #F9FAFB;
    --book-dark: #1F2937;
    --book-accent: #F59E0B;
    --book-paper: #F3F4F6;
    --text-primary:black;
    --text-secondary:black;
  }

  .dark {
    /* Dark theme adjustments */
    --book-primary: #6366F1; /* light becomes default in dark */
    --book-primary-light: #818cf8; /* even lighter */
    --book-primary-dark: #4F46E5; /* original default */
    --book-secondary: #34D399; /* light becomes default */
    --book-secondary-light: #6ee7b7; /* even lighter */
    --book-secondary-dark: #10B981; /* original default */
    --book-light: #2e2e2f;
    --book-dark: #252526;
    --book-accent: #FBBF24; /* slightly lighter orange  */
    --book-paper: #e4e5e6;
    --text-primary:white;
    --text-secondary:white;

  }

  body {
    @apply bg-primary text-primary;
  }
}